*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

input {
	width: auto;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:visited {
	color: #009DE6;
}

a:hover {
	color: #3F74B0;
}

a:active {
	color: #2D527D;
}

.clear {
	clear: both;
}

.blur {
	-webkit-filter: blur(20px);
	filter: blur(20px);
}

.no-scroll {
	overflow: hidden;
}

/* Type */
.h1 {
	font-size: 64px;
	line-height: 76px;
	font-weight: 500;
	letter-spacing: -0.004em;
}

.h2 {
	font-size: 54px;
	line-height: 64px;
	font-weight: 500;
	letter-spacing: -0.004em;
}

.h3 {
	font-size: 28px;
	line-height: 33px;
	font-weight: 500;
	letter-spacing: -0.004em;
}

.h4 {
	font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.0022em;
}

.metadata {
    font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: -0.004em;
}

/* Type Colors */
.colorDefault {color: #353A44;}
.colorSecondary {color: #727F99;}

.colorDefaultDark {color: #fff;}
.colorSecondaryDark {color: #E0E0E0;}

.colorRedText{color:#dc354d;}
.colorBlueText{fill:#007db7;}
.colorYellowText{color:#8c7300;}
.colorGreenText{color:#00892e;}

/* Weights */
.weightRegular {font-weight: 400;}
.weightMedium {font-weight: 500;}
.weightSemibold {font-weight: 600;}
.weightBold {font-weight: 700;}

/* Margins */
.marginBottom0 {margin-bottom: 0;}
.marginBottom8 {margin-bottom: 8px;}
.marginBottom16 {margin-bottom: 16px;}
.marginBottom24 {margin-bottom: 24px;}
.marginBottom32 {margin-bottom: 32px;}

/* Underline */
.underline {text-decoration: underline;}
.underlineNone {text-decoration: none;}

/* Shadows */
.shadowDeafult {
	text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5;
}

/* Navigational Menu */
#menu {
	height: 100vh;
	width: 224px;
	padding: 0 8px;
	display: flex;
    flex-direction: column;
	justify-content: center;
	position: fixed;
	left: 0;
    top: 0;
	z-index: 3;
}

#menu ul {
	/*margin: 0 auto;*/
	padding: 12px 0;
}

#menu ul li a {
	display: block;
	border-radius: 32px;
	transition: background-color 0.25s, color 0.25s;
	text-decoration: none;

	font-size: 20px;
	line-height: 56px;
	color: #32333E;
	text-align: left;
	font-weight: 600;
	margin: 0 auto;
	width: 100%;
	height: 56px;
}

#menu ul li a:hover {
	cursor: pointer;
	background-color: #F2F2F2;
}

#menu ul li a:active {
	cursor: pointer;
	background-color: #E5E5E5;
	transform: matrix(0.96, 0, 0, 0.96, 0, 0);
}

#menu ul li a svg {
	width: 24px;
	height: 24px;
	margin: 16px;
	float: left;
	transition: margin 0.25s;
}

#menu ul li a:hover svg {
	margin-left: 24px;
}

.square{fill:#f23b55;}
.circle{fill:#009de6;}
.triangle{fill:#ffd200;}
.half-circle{fill:#00A839;}

#menu ul li a.back {
    display: inline-block;
	width: auto;
	height: 56px;
	padding: 0 16px 0 16px;
}

#menu ul li a.back::before {
  content: "\2190";  /* ← Left arrow */
}

/* Content */
.container {
    margin-left: 224px;
}

.hero {
    height: 100vh;
	display: flex;
    flex-direction: column;
	justify-content: center;
}

.contentBox {
    padding: 64px;
    margin: 16px;
    position: relative;
}

.contentBox.gray {
    border-radius: 16px;
    background-color: #FAFAFB;
}

.contentBox.full {
    height: 100%;
    display: flex;
    flex-direction: column;
	justify-content: center;
}

.contentBox .fixedIcon {
    position: absolute;
    top: 64px;
    left: 64px;
}

/* Writing */
.articlesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.articleCard {
    background: #FAFAFB;
    border-radius: 16px;
    transition: transform 0.2s;
    cursor: pointer;
    padding: 24px;
    height: 320px;
    position: relative;
    text-decoration: none;
}

.articleCard:hover {
    background-color: #F2F2F2;
    transform: translateY(-4px);
}

.articleCard:active {
    background-color: #E5E5E5;
	transform: matrix(0.96, 0, 0, 0.96, 0, 0);
}

.articleImage {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.articleMeta {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 24px;
}

.authorAvatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url(../images/profile-2025.png) center center no-repeat;
	background-size: 24px 24px;
}

.authorAvatarKim {
    background: url(../images/writing/avatar-kim.jpg) center center no-repeat;
    background-size: 24px 24px;
}

/* Work page */
.app-icon {
	width: 72px;
	height: 72px;
	border-radius: 16px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
	margin-bottom: 12px;
	transition: transform 0.25s, box-shadow 0.25s;
}

.work-card:hover .app-icon {
	transform: rotate(-7deg);
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
}

.app-icon-abstract {
	background: url(../images/app-icon-abstract.png) center center no-repeat;
	background-size: 72px 72px;
}
.app-icon-instacart {
	background: url(../images/app-icon-instacart.png) center center no-repeat;
	background-size: 72px 72px;
}
.app-icon-stripe {
	background: url(../images/app-icon-stripe.png) center center no-repeat;
	background-size: 72px 72px;
}
.app-icon-storify {
	background: url(../images/app-icon-storify.png) center center no-repeat;
	background-size: 72px 72px;
}

.work-card-container li {
	list-style: none outside none;
	margin: 0;
}

.work-card {
	display: block;
	margin: 0 0 24px 0;
	position: relative;
}

.work-card img {
	display: block;
	margin: 0;
	border-radius: 16px 16px 0 0;
}

.work-card-inner {
	padding: 24px;
}

img + .work-card-inner {
	padding: 0 24px 24px 24px;
	margin-top: -36px;
	position: relative;
	z-index: 10;
}

.work-card small {
	font-size: 14px;
	line-height: 18px;
}

.work-card .coming-soon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.1);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	color: #424242;
	font-size: 24px;
	font-weight: bold;
	margin: -24px -24px -24px -24px;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 100;
	border-radius: 16px;
}

.credits p, .credits h3 {
	font-size: 18px;
	line-height: 24px;
}

/* Media Queries */
@media screen and (max-width: 1200px){
    .articlesGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .h2 {
        font-size: 31px;
	    line-height: 38px;
    }
}


@media screen and (max-width: 960px){
    .container {
        margin: 0 auto 72px auto;
    }

    .contentBox {
        padding: 24px;
    }

    #work.contentBox, #writing.contentBox {
        padding: 0;
    }

    .contentBox .fixedIcon {
        left: 24px;
        top: 24px;
    }

    .hero {
        height: 94vh;
    }

    .titleLockup {
        margin-left: 24px;
        margin-right: 24px;
    }

	.h1 {
		font-size: 44px;
        line-height: 48px;
	}

	.h2 {
        font-size: 31px;
        line-height: 38px;
    }

	.h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .h4 {
        font-size: 21px;
        line-height: 26px;
    }

	#menu {
		height: 56px;
		padding: 0;
		padding-bottom: env(safe-area-inset-bottom);
		width: 100%;
		display: block;
		position: fixed;
		z-index: 3;
		top: auto;
		bottom: 0;
		background-color: #fff;
	}

	#menu ul {
		max-width: 720px;
		margin: 0 auto;
		padding: 0;
	}

	#menu ul li {
		float: left;
		width: 25%;
	}

	#menu ul li a {
		font-size: 11px;
		line-height: 12px;
		color: #747474;
		text-align: center;
		font-weight: 500;
		margin: 0 auto 12px auto;
		display: block;
		margin: 0 auto;
		width: 56px;
		height: 56px;
	}

	#menu ul li a svg {
		margin: 8px 16px 4px 16px;
	}
	#menu ul li a:hover svg {
		margin-left: 16px;
	}
}

@media screen and (max-width: 640px){

    .h2 {
        font-size: 26px;
	    line-height: 32px;
    }

    .articlesGrid {
        display: block;
        grid-template-columns: 1fr;
    }

    .articleCard {
        display: block;
        height: auto;
        min-height: 128px;
        margin-bottom: 16px;
    }

    .articleImage {
        float: right;
        margin-left: 24px;
    }

    .articleMeta {
        position: relative;
        bottom: auto;
        margin-top: 12px;
    }

}

@media screen and (max-width: 480px){
    .h1 {
		font-size: 38px;
        line-height: 44px;
	}

	.h2 {
	    font-size: 20px;
        line-height: 26px;
    }

	.h3 {
        font-size: 18px;
        line-height: 24px;
       }

    .h4 {
        font-size: 21px;
        line-height: 26px;
    }

    .footerLine {
        display: block;
        margin-bottom: 8px;
    }

    .footerLine a, .footerLine a:visited {
        color: #727F99;
    }

    .footerLine.marginBottom0 {
        margin-bottom: 0;
    }

    .footerEmbelishment {
        display: none;
    }
}
